

<form class="form-findInspection" #inspectionForm="ngForm" (ngSubmit)="findInspection(inspectionForm)">

  <div class="header_02">Inspections</div>

  <div class="margin_bottom_20"></div>

  <h5>Select Inspection Search Criteria:</h5>

  <div class="margin_bottom_20"></div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" [(ngModel)]="model.searchMethod" name="searchMethod" id="iUnitRadio" (change)="onItemChange('1')" value="1">
    <label class="form-check-label" for="iUnitRadio">By Inspection Unit ID</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" [(ngModel)]="model.searchMethod" name="searchMethod" id="iDateRangeRadio" (change)="onItemChange('2')" value="2">
    <label class="form-check-label" for="iDateRangeRadio">By Inspection Date Range</label>
  </div>

  <div class="margin_bottom_20"></div>

  <div class="row" *ngIf="searchByUnit()">

      <div class="col-md-3">
          <input name="inspectionUnit" [(ngModel)]="model.inspectionUnit" id="inspectionUnit" class="form-control upper-case"
                 placeholder="Unit ID">
      </div>

  </div>

  <div class="row" *ngIf="!searchByUnit()">
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Date Range"
               #daterange="ngModel" 
               class="form-control"
               name="daterange"
               [bsConfig]= "{ containerClass: 'theme-dark-blue' }" 
               [(ngModel)]="model.daterange"                
               bsDaterangepicker>
    </div>
  </div>
       

  <div class="margin_bottom_20"></div>

  <button class="btn btn-primary btn-default" 
          [disabled]="!(model.inspectionUnit || model.daterange)" type="submit">Find Inspection</button>
  
</form>